.c-button {
  color: getColors("blanco",5);
  font-size: getFontSize("s");
  background-color: getColors("alternativo",4);
  padding-left: getPadding(6); 
  padding-right: getPadding(6); 
  padding-top: getPadding(3); 
  padding-bottom: getPadding(3); 
  margin-top: getMargin(4);
  @include box-shadow(2);
  @include border-radius(5);
  cursor:pointer;
}


.c-button--principal {
  margin-left: 50px;
  margin: auto;
}


.c-button--alternativo {
  background-color: getColors("principal",2);
  margin-left: 50px;
  margin: auto;
}