.c-cart {
    background-color: getColors("blanco",0);
    padding: getPadding(7);
    border-radius: getBorderRadius(4);
    font-family: getFontFamily("principal");

    &__title {
        font-size: getFontSize("2xl");
        color: getColors("principal",0);
        font-weight: 600;
        margin-bottom: getMargin(5);
    }

    &__head {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr 1.5fr 0.5fr 0.5fr 0.5fr 2fr;
        gap: getGap(6);
        color: getColors("principal",0);
        font-weight: 800;
        padding-bottom: getPadding(4);
        border-bottom: 1px solid getColors("principal",0);
    }

    &__row {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr 1.5fr 0.5fr 0.5fr 0.5fr 2fr;
        gap: getGap(6);
        color: getColors("principal",0);
        padding-bottom: getPadding(4);
        padding-top: getPadding(4);
        border-bottom: 1px solid getColors("principal",0);
    }

    &__img {
        width: 70px;
    }

    &__footer {
        text-align: center;
        margin-top: getMargin(8);
        margin-bottom: getMargin(8);
    }

    &__delete-row {
        text-decoration: none;
        color: getColors("principal",0);
        margin-left: getMargin(2);
    }

    &__price {
        font-size: getFontSize("2xl");
        color: getColors("principal",0);
        font-weight: 600;
        margin-top: getMargin(7);
        text-align: right;
    }

    &--list-item {
        margin-bottom: getMargin(9);
    }

    &__label{
        color: getColors("blanco",1);
        border-radius: getBorderRadius(4);
        padding: getPadding(4);

        &--paid{
            background-color: getColors("verde",6);
        }

        &--unpaid{
            background-color: getColors("rojo",4);
        }
    }
}


