.c-cart {
    font-family: getFontFamily("principal");
    background-color: getColors("principal",5);
    padding: getPadding(8);
    margin-left:getMargin(8);
    margin-right:getMargin(8);
    margin-bottom: getMargin(8);
    @include border-radius(4);
    
    &__title {
        color: getColors("principal", 0);
        font-size: getFontSize("3xl");
        font-weight: bold;

        text-align: center;
        padding-top: getPadding(4);
        padding-bottom: getPadding(8);
    }

    &__head {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr 1.5fr 0.5fr 0.5fr 0.5fr 2fr;
        gap: getGap(6);

        color: getColors("principal", 0);
        font-size: getFontSize("m");
        font-weight: bold;

        padding-top: getPadding(4);
        padding-bottom: getPadding(4);
        border-bottom: 1px solid getColors("principal",2);
    }

    &__row {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr 1.5fr 0.5fr 0.5fr 0.5fr 2fr;
        gap: getGap(6);

        color: getColors("principal",0);
        font-size: getFontSize("m");

        padding-top: getPadding(4);
        padding-bottom: getPadding(4);
        border-bottom: 1px solid getColors("principal",2);
    }

    &__img {
        width: 70px;
    }

    &__price {
        color: getColors("principal", 0);
        font-size: getFontSize("2xl");
        font-weight: 600;

        margin-top: getMargin(7);
        text-align: right;
    }

    &__delete-row {
        color: getColors("principal", 0);
        font-size: getFontSize("m");

        margin-left: getMargin(2);
    }

    &__footer {
        text-align: center;
        margin-top: getMargin(8);
        margin-bottom: getMargin(8);
    }

    &--list-item {
        margin-bottom: getMargin(9);
    }
}