<<<<<<< HEAD
.c-footer {
=======
.c-footer{
>>>>>>> joseluis_11
    text-align: center;
    background-color: getColors("principal", 0);
    padding: getPadding(5);

<<<<<<< HEAD
    &__item {
=======
    &__item{
>>>>>>> joseluis_11
        font-family: getFontFamily("alternativo");
        color: getColors("principal", 5);
        margin: getMargin(5);

        &--blanco {
            color: getColors("blanco", 1);
        }
    }
}