.c-form-login {
  font-family: getFontFamily("principal");
  color: getColors("alternativo",1);
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  padding: getPadding(6);
  background-color: getColors("principal",3);
  margin: auto;
  margin-top: getMargin(8);
  margin-bottom: getMargin(1);
  height: 300px;
  width: 350px;
  text-align: center;
  border: 4px solid getColors("principal",2);
}

.c-form-login__label{
    display: block;
    font-weight: bolder;
    font-size: getFontSize("l");
    text-align: left;
    color: getColors("alternativo",1);
    margin-top: getMargin(1);
    margin-bottom: getMargin(4);
}

.c-form-login__input{
  font-size: getFontSize("s");
  color: getColors("alternativo",1);
  display: block;
  width: 100%;
  height: 35px;
  margin-bottom: getMargin(7);
  padding-left: getPadding(5);
}

.c-form-login__contenido{
  display: block;
  text-decoration: none;
  color: getColors("alternativo",4); ;
}

.c-form-login__link {
  display: block;
  text-decoration: none;
  color: getColors("alternativo",3); ;
  font-size: getFontSize("s");
}