.c-item {
    background-color: getColors("principal", 6);
    border-radius: getBorderRadius(5);

    &__img {
        height: 350px;
        object-fit: cover;

        background-image:
            linear-gradient(to bottom, rgba(getColors("blanco", 1), 0), 75% , rgba(getColors("principal", 6), 1)),
            url('../assets/img/dulce.jpg');

        background-size: cover;
        border-top-left-radius: getBorderRadius(5);
        border-top-right-radius: getBorderRadius(5);
    }

    &__title {
        font-size: getFontSize("3xl");
        font-weight: 600;
        font-family: getFontFamily("principal");
        color: getColors("principal", 6);

        padding: getPadding(5);
        border-top-left-radius: getBorderRadius(5);
        border-top-right-radius: getBorderRadius(5);
        background-color: getColors("principal", 0);
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding-left: getPadding(5);
        padding-right: getPadding(5);

    }

    &__price {
        font-size: getFontSize("2xl");
        font-weight: 700;
        font-family: getFontFamily("alternativo");
    }

    &__icon {
        &--right {
            margin-left: auto;
        }

        &--left {
            margin-right: auto;
        }
    }
}