.c-icon {
    font-size: getFontSize("4xl");
    color: getColors("principal", 0);
    margin: getMargin(5);
    cursor: pointer;

<<<<<<< HEAD
    &--alternativo {
        color: getColors("alternativo", 4);
=======
    &--alternativo{
        color: getColors("principal", 7);
        margin-top: getMargin(3);
        margin-bottom: getMargin(6);
       
>>>>>>> joseluis_11
    }
}