.c-icon {
    font-size: getFontSize("4xl");
    color: getColors("principal", 0);
    margin: getMargin(5);
    cursor: pointer;

    &--alternativo {
        color: getColors("alternativo", 5);
        margin: getMargin(5);
    }

    &--alternativo-2 {
        color: getColors("principal", 8);
        margin-top: getMargin(2);
    }

    &--close {
        color: getColors("principal", 0);
        margin-left: getMargin(6);
        font-size: getFontSize("2xl");
        cursor: pointer;
    }

}