.c-modal {
  border-width: 0;
  border-radius: getBorderRadius(5);
  padding: getPadding(0);
  max-width: 1000px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: getColors("principal", 1);
    padding: getPadding(7);
    border-radius: getBorderRadius(4);
  }

  &--xsmall {
    width: 30vw;
  }

  &--small {
    width: 45vw;
  }

  &--medium {
    width: 50vw;

  }

  &--large {
    width: 60vw;

  }

  &--extraLarge {
    width: 80vw;
  }

  &::backdrop {
    background-color: rgb(0, 0, 0, 0.7) !important;
  }

  animation: show 0.75s ease normal;

  @keyframes show {
    from {
      transform: scale(0%);
    }

    to {
      transform: scale(100%);
    }
  }

  &--close {
    animation: hide 0.75s ease normal;

    @keyframes hide {
      from {
        transform: scale(100%);
      }

      to {
        transform: scale(0%);
      }
    }
  }
}