.c-modal {
  border-width: 0;
  border-radius: getBorderRadius(5);

  padding: getPadding(0);

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: getColors("principal", 3);
    padding: getPadding(7);
    border-radius: getBorderRadius(4);
  }

  &::backdrop {
    background-color: rgb(0, 0, 0, 0.7) !important;
  }
}