.c-modal {
  border-width: 0;
  border-radius: getBorderRadius(4);
  background-color: getColors("principal", 1);

  padding: getPadding(8);

  &--fit-content {
    width: fit-content;
  }

  &--xsmall {
    width: 35vw;
  }

  &--small {
    width: 45vw;
  }

  &--medium {
    width: 50vw;

  }

  &--large {
    width: 60vw;

  }

  &--extraLarge {
    width: 80vw;
  }

  &::backdrop {
    background-color: rgb(0, 0, 0, 0.7) !important;
  }

  animation: show 0.75s ease normal;

  @keyframes show {
    from {
      transform: scale(0%);
    }

    to {
      transform: scale(100%);
    }
  }

  &--close {
    animation: hide 0.75s ease normal;

    @keyframes hide {
      from {
        transform: scale(100%);
      }

      to {
        transform: scale(0%);
      }
    }
  }
}