.c-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: getColors("principal", 5);

    &__item {
        margin: getMargin(4);

        &--derecha {
            margin-left: auto;
        }

        &--center {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__logo {
        height: 80px;
        cursor: pointer;
        padding-left: getPadding(10);
    }

    &__title {
        margin-left: auto;
        height: 80px;
        align-items: center;
    }

}