.c-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: getColors("principal", 5);

    &__item {
        margin-top: getMargin(3);
        margin-bottom: getMargin(3);
        margin-left: getMargin(12);
        margin-right: getMargin(12);

        &--derecha {
            margin-left: auto;
        }

        &--center {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__logo {
        height: 80px;
        cursor: pointer;
    }

    &__title {
        margin-left: auto;
        height: 80px;
        align-items: center;
    }

}