.c-products{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: getGap(6);

    height: auto;
    text-align: center;

    padding: getPadding(10);

    border-radius: getBorderRadius(5);

    background-color: getColors("principal", 5);
}