.c-pago {
  background-color: #BAA187;
  padding: 20px;
  border-radius: 8px;


  &__form {
    font-family: getFontFamily("principal");
    background-color: #9B7559;
    border-radius: 8px;
    border-color: 5px solid #825F4A;
    margin: getMargin(5);
    padding: getPadding(8);
    width: 500px;
    height: 550px;
    margin-bottom: getMargin(6);
  }

  &__titulo {
    font-family: getFontFamily("principal");
    color: getColors("principal", 6);
    font-weight: bold;
    font-size: getFontSize("3xl");
    text-align: center;
    padding-top: getPadding(2);
    padding-bottom: getPadding(8);
    margin:auto;
  }
  
  &__presentation {
    font-family: getFontFamily("principal");
    color: getColors("principal", 0);
    font-weight: bold;
    font-size: getFontSize("2xl");
    text-align: center;
    margin-top: getMargin(10);
  }

  &__label {
    font-weight: bold;
    font-size: getFontSize("s");
    text-align: left;
    color: getColors("principal", 6);
    margin-top: getMargin(6);
    margin-bottom: getMargin(1);
    padding-bottom: getPadding(5);
  }

  &__input {
    font-size: getFontSize("s");
    color: getColors("principal", 0);
    display: block;
    height: 35px;
    margin-top: getMargin(1);
    margin-bottom: getMargin(7);
    padding-left: getPadding(5);
  }

  &__contenido {
    display: block;
    text-align: center;
    text-decoration: none;
    color: getColors("alternativo", 4);
    margin-top: getMargin(8);
  }
}