.c-registro {
  background-color:getColors("principal", 3);
  padding: 20px;
  border-radius: 8px;


  &__form {
    display: block;
    font-family: getFontFamily("principal");
    background-color: getColors("principal", 5);
    border-radius: 8px;
    border-color: 5px solid getColors("principal", 1);
    width: 400px;
    height: 100%;
    margin-top: getMargin(3);
    margin-left:getMargin(8);
    margin-right:getMargin(8);
    margin-bottom: getMargin(6);
    padding: getPadding(9);
  }

  &__titulo {
    font-family: getFontFamily("principal");
    color: getColors("principal", 0);
    font-weight: bold;
    font-size: getFontSize("3xl");
    text-align: center;
    padding-top: getPadding(2);
    padding-bottom: getPadding(8);
    margin:auto;
  }

  &__presentation {
    font-family: getFontFamily("principal");
    color: getColors("principal", 0);
    font-weight: bold;
    font-size: getFontSize("2xl");
    text-align: right;
    margin-top: getMargin(10);
  }

  &__label {
    font-weight: bold;
    font-size: getFontSize("s");
    text-align: left;
    color: getColors("principal", 0);
    margin-bottom: getMargin(1);
    margin-top: getMargin(1);
  }

  &__input {
    font-size: getFontSize("s");
    color: getColors("principal", 0);
    display: block;
    width: 100%;
    height: 35px;
    margin-top: getMargin(1);
    margin-bottom: getMargin(6);
    padding-left: getPadding(6);
  }

  &__contenido {
    display: block;
    text-align: center;
    text-decoration: none;
    color: getColors("alternativo", 4);
    margin-top: getMargin(6);
  }
}