.l-posicion-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 60vw;
        min-height: 70vh;
        background-image: url(../../web/assets/img/pattern-03.jpg);
        background-position: center;
        background-size: cover;
        border: 6px solid getColors("principal",2);
}

.l-posicion-modal--centrada{
        color: getColors("alternativo",1);
        background-color: getColors("principal",5);
        margin-top: getMargin(9);
        margin-bottom: getMargin(5);
        height: 350px;
        width: 350px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
}
